HRSystem/Model/classes/com/oracle/demo/model/common/serviceinterface/AppModuleService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/com/oracle/demo/model/common/types/"
     xmlns:tns="/com/oracle/demo/model/common/types/" xmlns:ns0="/com/oracle/demo/model/common/"
     xmlns:ns1="http://xmlns.oracle.com/adf/svc/errors/">
    <import namespace="http://xmlns.oracle.com/adf/svc/errors/" schemaLocation="classpath:/META-INF/wsdl/ServiceException.xsd"/>
    <import namespace="/com/oracle/demo/model/common/" schemaLocation="../EmpDetailsSDO.xsd"/>
    <import namespace="/com/oracle/demo/model/common/" schemaLocation="../DepartmentsViewSDO.xsd"/>
    <element name="getDepartments">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getDepartmentsResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:DepartmentsViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEmployee">
        <complexType>
            <sequence>
                <element name="empId" type="int"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEmployeeResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:EmpDetailsSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEmployees">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getEmployeesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:EmpDetailsSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>
