HRMobile/ApplicationController/com.oracle.demo.application/AppModuleService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema elementFormDefault="qualified" targetNamespace="/com/oracle/demo/model/common/types/" xmlns:ns0="/com/oracle/demo/model/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/errors/" xmlns:tns="/com/oracle/demo/model/common/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://xmlns.oracle.com/adf/svc/errors/" schemaLocation="ServiceException.xsd"/>
  <import namespace="/com/oracle/demo/model/common/" schemaLocation="EmpDetailsSDO.xsd"/>
  <import namespace="/com/oracle/demo/model/common/" schemaLocation="DepartmentsViewSDO.xsd"/>
  <element name="getDepartments">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getDepartmentsResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:DepartmentsViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEmployee">
    <complexType>
      <sequence>
        <element name="empId" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEmployeeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:EmpDetailsSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getEmployees">
    <complexType>
      <sequence/>
    </complexType>
  </element>
  <element name="getEmployeesResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:EmpDetailsSDO"/>
      </sequence>
    </complexType>
  </element>
</schema>